<h1>Import Sales</h1>
<%= form_tag importer_index_path, multipart: true do %>
	<fieldset>
		<legend>Import a file</legend>
		
		<div class="row">
			<div class="small-10 columns">
				<%= file_field_tag :file, class: 'radius disabled button' %>
			</div>
			<div class="small-2 columns">
				<%= submit_tag "Import", class: 'radius button' %>
			</div>
		</div>
	</fieldset>
<% end %>
