/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

.total_price {
	text-align: right;
}

.quantity {
	text-align: center;
}

.number {
	text-align: right;
}

.as-input {
	background-color: #FFF;
	border: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px inset;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.74902);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 32.375px;
	line-heigth: 22px;
	padding: 7px;
}