<h1>Sales</h1>

<div class="row">
	<div class="small-12 columns">
		<table class="small-12">
			<thead>
				<tr>
					<th class="small-7">transaction key</th>
					<th class="small-3">created_at</th>
					<th class="small-2 number">total price</th>
				</tr>
			</thead>

			<tbody>
				<% @sales.each do |_sale|; sale = SalePresenter.new(_sale) %>
				<tr>
					<td><%= link_to sale.transaction_key, _sale %></td>
					<td><%= time_tag(sale.created_at) %></td>
					<td class="number"><%= sale.total_price %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<%= link_to 'Import Sales', new_sale_path, class: 'button round' %>
	</div>
</div>